


@font-face{
	font-family: mi fuente;
	src: url(../a/Fascinate-Regular.ttf);


}

#fuente-personalizado{
	font-family: mi fuente;
}

@font-face{
	font-family: mifuente;
	src: url(../imagen1/Lobster-Regular.ttf);


}


#fuente-p{
	font-family: mifuente;
}











body{
	font-family: arial, helvetica;
	background: linear-gradient(150deg, #1B4F72, #C0392B);
	height: 100vh;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: yellow;
}

